.personal {
  &-card-container {
    .personal-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .left {
        display: flex;
        align-items: center;

        .info {
          justify-content: space-between;

          .greeting,
          .weather {
            margin: 6px 0 6px 18px;
          }
        }
      }

      .right {
        display: flex;
        align-items: center;

        .task-info {
          &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
          }
        }
      }
    }

    .ant-card-body {
      height: 128px;
    }
  }
}
