.project-container {
  margin-bottom: 20px;

  .project-card {
    .ant-card-body {
      padding: 0;
    }
  }

  .gutter-row {
    .ant-card {
      border-radius: 0;
    }

    .project-item-card {
      .ant-card-body {
        padding: 20px;
      }
    }
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;

  &-title {
    display: flex;
    align-items: center;

    &-name {
      margin-left: 18px;
      font-size: 20px;
    }
  }

  &-introduce {
    margin-bottom: 18px;
    height: 45px;
    font-size: 14px;
  }

  &-footer {
    display: flex;
    justify-content: space-between;

    &-team {
      font-size: 14px;
      white-space: nowrap;
    }

    &-time {
      font-size: 14px;
      white-space: nowrap;
    }
  }
}
