.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 48px;
  // border-bottom: 1px solid #eeeeee;

  .left-action {
    display: flex;
    align-items: center;

    .collapse-button {
      width: 48px;
      height: 48px;
    }
  }

  .right-action {
    display: flex;
    align-items: center;

    .search-button {
      width: 48px;
      height: 48px;
    }

    .language-button {
      width: 48px;
      height: 48px;
    }

    .fullscreen-button {
      width: 48px;
      height: 48px;
    }

    .message-button {
      width: 48px;
      height: 48px;
    }

    .tour-button {
      width: 48px;
      height: 48px;
    }

    .user-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;

      .user-name {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12px;
        height: 48px;
      }
    }

    .setting-button {
      width: 48px;
      height: 48px;
    }
  }
}
