.header-container {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  border-bottom: 1px solid #ececec;

  .left-action {
    display: flex;
    align-items: center;
    .collapse-button {
      width: 48px;
      height: 48px;
    }
  }

  .right-action {
    display: flex;
    align-items: center;
    .search-button {
      width: 48px;
      height: 48px;
    }
    .language-button {
      width: 48px;
      height: 48px;
    }
    .fullscreen-button {
      width: 48px;
      height: 48px;
    }
    .message-button {
      width: 48px;
      height: 48px;
    }
    .user-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      border-radius: 6px;
      padding: 4px 8px;

      &:hover {
        cursor: pointer;
        background-color: #f0f0f0;
      }

      .user-name {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
        height: 48px;
      }
    }
    .setting-button {
      width: 48px;
      height: 48px;
    }
  }
}
