.signature-container {
  padding: 20px;

  .card-container {
    height: var(--card-height);
  }

  .action-container {
    display: flex;
    align-items: center;

    .title {
      margin-right: 18px;
      white-space: nowrap;
    }
  }
}

.signature-canvas {
  width: 600px;
  height: 350px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
