html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  tab-size: 4;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: inherit;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:focus,
a:active,
div:focus {
  outline: none;
}
