.logo-container {
  position: fixed;
  z-index: 999;
  display: flex;
  padding: 8px;
  width: 200px;
  cursor: pointer;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    &-pic {
      margin-left: 18px;
      width: 32px;
      height: 32px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("@/assets/imgs/KunLogo.png");
    }

    &-text {
      overflow: hidden;
      margin-left: 18px;
      font-size: 18px;
      white-space: nowrap;
    }
  }
}
