.logo-container {
  display: flex;
  padding: 12px;
  cursor: pointer;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    &-pic {
      margin-left: 8px;
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("@/assets/imgs/KunLogo.png");
    }

    &-text {
      overflow: hidden;
      margin-left: 16px;
      font-size: 18px;
      white-space: nowrap;
      color: #fff;
    }
  }
}
