.drawer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .top-action {
    width: 100%;

    &-item {
      display: flex;
      justify-content: space-between;
      padding: 0 18px;
    }
  }

  .bottom-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
}
